{% extends 'registration/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Articles</h3>
                </div>

                <div class="card-body">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Thumbnail</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Hits</th>
                            <th>Special</th>
                            <th>Created</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in Articles %}
                            <tr data-widget="expandable-table" aria-expanded="false">
                                <td>{{ article.title }}</td>
                                <td><img src="{{ article.thumbnail.url }}" width="100"></td>
                                <td>{{ article.category_to_str }}</td>
                                <td>{{ article.author.get_full_name }}</td>
                                <td>{{ article.hits.count }}</td>
                                <td>
                                    {% if article.is_special %}
                                        <i class="fa fa-check-circle" style="color: #70bf2b"></i>
                                        {% else %}
                                        <i class="fa fa-close" style="color: red"></i>
                                    {% endif %}
                                </td>
                                <td>{{ article.created }}</td>
                                <td style="width: 1px">
                                    {% if article.status == 'p' %}
                                        <span class="badge badge-success">PUBLISHED</span><br>
                                        <a target="_blank" class="badge badge-primary"
                                           href="{% url 'blog:detail' article.slug %}">VIEW ON SITE</a>
                                    {% elif article.status == 'd' %}
                                        <span class="badge badge-info">DRAFT</span>
                                    {% elif article.status == 'r' %}
                                        <span class="badge badge-warning">PENDING</span>
                                    {% elif article.status == 'b' %}
                                        <span class="badge badge-danger">DENIED</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="expandable-body d-none">
                                <td colspan="5">
                                    <p style="display: none;">
                                        {{ article.description | truncatewords:30 }}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}